
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: grey;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 0 auto 2rem;
}

h1 {
    color: rgb(99, 58, 151);
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(70, 135, 219);
}

h4 {
    color: aqua;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 50%;
}

h1::before,
h1::after {
    content: "";
    display: inline-block;
     width: 30px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 50%;
}

img {
    width: 200px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.float-right {
    float: right;
}